<div class="container" style="text-align:center">
  <h1>
    <span class="glyphicon glyphicon-bitcoin"></span><b> Welcome to CRYPTOCURRENCIES</b> <span class="glyphicon glyphicon-bitcoin"></span>
  </h1>
</div>
<div class="container" id="loginContainer">
  <form class="form-horizontal" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="user">Login:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="userCredentials.Login" type="text" class="form-control" id="user" name="user">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="userCredentials.Password" type="password" class="form-control" id="password" name="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="submitButton" class="btn btn-default btn-lg">Login</button>
      </div>
    </div>
  </form>
</div>
<div class="container" *ngIf="!authentication">
  <h3><span class="glyphicon glyphicon-remove"></span> Wrong login or password!</h3>
</div>
