<nav class="container navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-bitcoin"></span></a>
    </div>
    <ul class="navbar-nav nav" *ngIf="!userService.getCurrentUser()">
      <li id="login" class="navbar-nav"><a routerLink="/login">Log in</a></li>
      <li id="register" class="navbar-nav"><a routerLink="/register">Register</a></li>
    </ul>
    <ul class="navbar-nav nav" *ngIf="userService.getCurrentUser()">
      <li id="payinto" class="navbar-nav"><a routerLink="/payinto">Pay into</a></li>
      <li id="withdraw" class="navbar-nav"><a routerLink="/withdraw">Withdraw</a></li>
      <li id="buy" class="navbar-nav"><a routerLink="/buy">Buy</a></li>
      <li id="sell" class="navbar-nav"><a routerLink="/sell">Sell</a></li>
      <li id="logout" class="navbar-nav navbar-right"><a routerLink="#" (click)=logOut()>Logout</a></li>
    </ul>
  </div>
</nav>
<div *ngIf="userService.getCurrentUser()">
  <div id="accountBallanceContainer" class="alert alert-warning" *ngIf="userService.getAccountBalance()">
    Your account: <b>PLN:</b> {{userService.getAccountBalance().NumberOfPln}} <b>BTC:</b> {{userService.getAccountBalance().NumberOfBtc}} <b>BCC:</b>
    {{userService.getAccountBalance().NumberOfBcc}} <b>ETH:</b> {{userService.getAccountBalance().NumberOfEth}} <b>LTC:</b>
    {{userService.getAccountBalance().NumberOfLtc}}
  </div>
</div>
