<div class="container" id="registerContainer">
  <form class="form-horizontal" (ngSubmit)="register()" #registerForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="user.Name" type="text" class="form-control" id="name" name="name" required #ngName="ngModel">
        <p *ngIf="ngName.invalid  && (ngName.dirty || ngName.touched)">Name is required.</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="login">Login:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="user.Login" type="text" class="form-control" id="login" name="login" required #ngLogin="ngModel">
        <p *ngIf="ngLogin.invalid  && (ngLogin.dirty || ngLogin.touched)">Login is required.</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="user.Password" type="password" class="form-control" id="password" name="password" required #ngPassword="ngModel">
        <p *ngIf="ngPassword.invalid  && (ngPassword.dirty || ngPassword.touched)">Password is required.</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="submitButton" class="btn btn-default btn-lg">Register</button>
      </div>
    </div>
  </form>
</div>
<div class="container" *ngIf="!ifSuccess">
  <h3><span class="glyphicon glyphicon-remove"></span> Register failed!</h3>
</div>
