<div class="container" id="sellContainer">
  <div style="text-align:center">
    <h1>
      Sell cryptocurrency
    </h1>
  </div>
  <form class="form-horizontal" (ngSubmit)="sell()" #sellForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="currency">Currency to sell:</label>
      <select [(ngModel)]="currencyType" id="currency" name="currency" required #currency="ngModel">
        <option *ngFor="let currency of currencyTypes">
          {{currency}}
        </option>
      </select>
      <p *ngIf="currency.invalid  && (currency.dirty || currency.touched)">Currency type is required.</p>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="amount">Amount of coins to exchange:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="amountToExchange" type="number" class="form-control" id="amount" name="amount" required min="0" #amount="ngModel">
        <p *ngIf="amount.invalid  && (amount.dirty || amount.touched)">Amount of coins to exchange is required.</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="submitButton" class="btn btn-default btn-lg">Sell</button>
      </div>
    </div>
  </form>
</div>
<div class="container" *ngIf="!ifSuccess">
  <h3><span class="glyphicon glyphicon-remove"></span> Selling failed!</h3>
</div>
