<div class="container" id="payContainer">
  <div style="text-align:center">
    <h1>
      Pay into
    </h1>
  </div>
  <form class="form-horizontal" (ngSubmit)="payInto()" #payForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="amount">Amount of income:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="amountOfIncome" type="number" class="form-control" id="amount" name="amount" required min="0" #amount="ngModel">
        <p *ngIf="amount.invalid  && (amount.dirty || amount.touched)">Amount of income is required.</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="submitButton" class="btn btn-default btn-lg">Pay into</button>
      </div>
    </div>
  </form>
</div>
<div class="container" *ngIf="!ifSuccess">
  <h3><span class="glyphicon glyphicon-remove"></span> Paying into failed!</h3>
</div>
