<div class="container" id="transactions-list">
  <div style="text-align:center">
    <h1>
      Hello {{ userName }}!
    </h1>
  </div>
  <div *ngIf="transactions.length > 0" class="container">
    <h2>List of your transactions:</h2>
    <ul>
      <li *ngFor="let transaction of transactions">
        <div *ngIf="transaction.Type < 2">{{transaction.Date | date: 'mediumDate'}}
          ({{TransactionType[transaction.Type]}}) {{transaction.Value | number:'1.1-5'}} PLN
        </div>
        <div *ngIf="transaction.Type >= 2">{{transaction.Date | date: 'mediumDate'}}
          ({{TransactionType[transaction.Type]}}) {{makePositive(transaction.NumberOfCoins) | number:'1.1-5'}}
          {{CurrencyType[transaction.CurrencyType]}} for {{makePositive(transaction.Value) | number:'1.1-5'}} PLN
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="!transactions.length > 0" class="container">
    <h2>You have no transactions!</h2>
  </div>
</div>
